.title{
    background-color: #FFC300 ;
    text-align: center;
}
.center{
    text-align: center;
}
.sel-mul{
    text-align: center;
    width: 100%;
    overflow-y: scroll;
    height: 150px;
    font-size: 20px;
}

