<div class="container">
    <h1>Empleados</h1>
     
    <button class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" role="button"  aria-controls="addEmployee" *ngIf="selection.selected.length < 2">
       {{ btnFunctionLabel }}
    </button>
    <button type="button" class="btn btn-danger" *ngIf="selection.selected.length > 0"  (click)="deleteUsers()" >Eliminar Empleado</button>
    <div class="collapse spacer" id="addUser" [collapse]="isCollapsed" >
        <form [formGroup]="userForm" (ngSubmit)="btnAction()">
            <div class="form-group">
                <input type="hidden" class="form-control" id="idemployees" formControlName="idEmployees">
                <label for="nameUser">Nombre:</label>
                <input type="text" class="form-control" id="nameUser" formControlName="name">
                <label for="lastNameUser">Apellidos:</label>
                <input type="text" class="form-control" id="lastNameUser" formControlName="lastName">
                <label for="role">Role del Empleado:</label>
                <select class="form-control" id="roles" formControlName="idroles"  >
                    <option *ngFor="let role of roles" [ngValue]="role.idroles" >{{ role.name }}</option>
                </select> 
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">{{btnSubmitLabel}}</button>
        </form>

    </div>
    <div class=spacer>
        <h3>Lista de empleados</h3>
         <table  mat-table [dataSource]="dataSource" class="table mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="selectionChange(row)"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th scope="col" mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastname}} </td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th  scope="col" mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

