<mat-card>
    <mat-card-title>Mantenimiento de Usuarios</mat-card-title>
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="OpenPanel()"
                    [attr.aria-expanded]="!isCollapsed" role="button"  aria-controls="addUser" >
               <mat-icon mat-list-icon>person_add</mat-icon>Nuevo Usuario 
            </button>
    <app-user-mant (addUser)="addUser($event)" (editUser)="updateUserSave($event)" [selectedUser]="selectedUser" [isCollapsed]="isCollapsed" (revertUser)="resetPage($event)"[roles]="roles"></app-user-mant>
    <app-user-display [data]="users" (editRow)="updateUser($event)" (deleteRow)="deleteUser($event)"></app-user-display>
</mat-card-content>
</mat-card>

