<mat-card>
    <mat-card-title>Mantenimiento de Cuadrillas</mat-card-title>
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="OpenPanel()"
                    [attr.aria-expanded]="!isCollapsed" role="button"  aria-controls="addTeam" >
               <mat-icon mat-list-icon>group_work</mat-icon>Nueva Cuadrilla
            </button>
    <app-team-mant (addTeam)="addTeam($event)" (editTeam)="updateTeamSave($event)" [selectedTeam]="selectedTeam" [isCollapsed]="isCollapsed" (revertTeam)="resetPage($event)"[users]="users"></app-team-mant>
    <app-team-display [data]="teams" (editRow)="updateTeam($event)" (deleteRow)="deleteTeam($event)"></app-team-display>
</mat-card-content>
</mat-card>

